@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;

}

<html>
	<head>
		<title>This is the master title</title>
		
		<meta name="title" content="@Umbraco.Field("metaTitle")">
		<meta name="description" content="@Umbraco.Field("metaDescription")">
		<meta name="robots" content="@Umbraco.Field("metaRobots")">
		<meta name="keywords" content="@Umbraco.Field("metaKeywords")">
		
	</head>
	<body>
		@Html.Partial("_Header")
		@RenderBody()
		@Html.Partial("_Footer")
	</body>
	
	
</html>
